@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply bg-gray-300 p-4 text-center;
    min-width: 15rem;
    min-height: 15rem;
    max-width: 15rem;
    max-height: 15rem;
    font-family: cursive;
    color: whitesmoke;
  }
}
